.maindiv{
    /* width:70%; */
    background-color: #EEEEEE;
    border:1px solid #E1E1E1;
    padding:1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:absolute;
    bottom:1rem;
    left:20%;
    right:20%;
    z-index:1;
    border-radius: 10px;
    overflow:auto;
    gap:0.5rem;
}

@media(max-width:850px) {
    .maindiv{
        bottom:1rem;
    }
}

@media(min-width:851px) and (max-width:1150px) {
    .maindiv{
        bottom:0rem;
    }
}

.inputBox{
    min-width:80%;
    /* background-color: yellow;; */
}

@media(max-width:660px) {
    .inputBox{
        min-width:30%;
        /* background:black; */
    }
}



@media(min-width:661px) and (max-width:1160px) {
    .inputBox{
        min-width:70%;
        /* background-color: green;; */
    }
}