@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&family=Outfit&display=swap");

.maindiv {
  font-family: Urbanist;
  width: 100%;
  /* height: 100vh; */
  color:#0F0B3E;
  margin-inline: auto;

}
.seconddiv{
  width:85%;
  margin-inline: auto;
  padding-top: 6rem;
}
@media(min-width:1800px) {
  .maindiv{
      width:60%;
  }
}
.mainheadingdiv{
  padding-top: 0;
}

.mainHeading {
  color: #ffffff;

  font-size: 4.5rem;
  font-weight: 650;
  letter-spacing: 0em;
  text-align: center;
  
}



.subHeading {
  font-family: Outfit;
  font-size: 1em;
  font-weight: 400;
  /* line-height: 1.4em; */
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  width:70%;
  margin-top: -4rem;
  
}
@media(max-width:500px) {
  .mainHeading{
    font-size: 2rem;
    font-weight: 650;
  }
  .subHeading{
    font-size: 0.8rem;
    width:50%;
  }
}

/* hello section */

.HelloSection {
  position: relative;
  /* background: #7065f0; */
  background-image: url('./banner_img.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* background-attachment: fixed; */
   background-color: #7065f0;  /*fallback color */
  /* background-blend-mode: overlay; */
  display: flex;
  justify-content: center;
  padding-top:76px;
}

@media(max-width:768px) {
  .HelloSection{
    background-image: none;
  }
}


.helloContentContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background:black; */
  gap: 5rem;
  padding: 12rem 1rem 1rem;
}
@media(max-width:1200px) {
  .helloContentContainer{
    width:100%;
  }
}

.optionTooglerDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background: black; */
  align-items: center;
  
}
.searchContainer {
  
  width: 88%;
  margin-bottom: 2rem;
  /* padding:2rem 0; */
}


@media(max-width:1023px) {
  .searchContainer{
    width:100%;
  }
}

/* search and exprole section */


.home1{
  display: flex;
  width: 100%;
  justify-content: space-between;
}



.searchSection {
  display: flex;
  flex-direction: column;
  gap:3rem;
  /* flex-wrap: wrap; */
  /* margin-top: 6rem; */
  margin-left:0rem;
  /* background-color: black; */
  /* width:50%; */
  /* margin-inline: auto; */
  
  /* padding-inline:4rem; */
  /* width:85%; */
  justify-content: space-between;
  /* margin-inline: auto; */
  /* gap:10rem; */
  /* align-items: center; */
}

.searchSectionIntro {
  display: flex;
  flex-direction: column;
  
  /* margin-inline: 3em; */
  /* width: 50%; */
  gap: 1rem;
}

.searchSectionHeader {
  font-weight: bolder;
  font-size: 2rem;
}
.searchSectionDesc {
  /* font-weight: 500; */
  font-size: 0.9rem;
    font-weight: 400;
    width:70%;
  line-height: 1.2rem;
}
.searchInputContainer {
  /* margin-inline: 3em; */
  /* margin-top: 2rem; */
  
  position: relative;
  width: 50%;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 1em;
  /* width: 20%; */
}

.searchInput {
  
  
  border:none;
  outline: none;
  background-color: rgba(244, 244, 244, 1);
  /* margin-right: 0.5em; */
  
}
.searchResults {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* justify-content:center; */
  /* margin-left: 0rem; */
  /* height:0rem; */
  /* width:70%; */
  /* padding-inline: 4rem; */
  /* margin-top: -4rem; */
  gap:1.5rem;
  margin-right: 1rem;
  overflow:auto;
  /* background:red; */
  
  
  /* justify-content: start; */
}
@media(max-width:590px) {
  .searchResults{
    margin-right: 0rem;
    grid-template-columns: repeat(1,1fr);
  }
}
.Search_Properties {
  position: relative;
  overflow: hidden;
  height:100%;
  width:100%;
  /* width: 20rem;
  height: 15rem; */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.searchProperty {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  z-index: 2;
  
  text-align: center;
}
.propertyTitle {
  font-size: 1.5rem;
  font-weight: bold;
}
.propertydesc {
  
  padding: 1em;
  font-size: 0.75em;
  margin-bottom: 3em;
  line-height: 1.1rem;
}
/* @media(max-width:300px) {
  .propertydesc{
    display: none;
  }
} */
.propertyImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
.searchPropertyBg {
  content: "''";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(112, 101, 240, 0.8);
  z-index: 1;
}



/* featured Properties section */

.FeaturedIntroContainer {
  
  margin-top: 6rem;

 

}
.introContainer {
  display: flex;
  flex-direction: column;
  /* margin: 3em; */
  
  gap: 1rem;
}
.FeaturedSectionHeader {
  font-weight: bolder;
  font-size: 2rem;
}
.FeaturedSectionDesc {
  
}
@media(max-width:590px) {
  /* .searchSectionIntro{
    align-items: center;
  } */
  .FeaturedSectionDesc{
    width:90%;
  }
  .searchSectionDesc {
    /* font-weight: 500; */
    
    
      width:90%;
    
  }
  .searchInputContainer {
    width:100%;
  }
}
.FeaturedButtonContainer {
  /* margin: 3em; */
}
.FeaturedButton {
  width:10rem;
  text-align: center;
  padding-block:1rem;
  border-radius: 10px;
  border: 1px solid #E1E1E1;
  color:#0F0B3E;
  background-color: #EAEAEA;
  cursor: pointer;
  font-size: 1rem;
}
.FeaturedPropertyContainer {
  /* padding-inline: 5.5rem; */
  padding-top:3rem;
  /* margin-left:3rem; */
  /* padding-inline:4rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow:auto;
  width:100%;
  
  /* justify-content: space-between; */
  gap:2rem;
  /* margin-inline: 4rem; */
}

.builderContainerp{
 
  margin-top: 6rem;

  
}

.builderContainer{
  /* padding: 3.5rem; */
  display: flex;
  align-items: center;
  width: 100%;
  overflow:auto;
  /* justify-content: center; */
  margin-top:3rem;
  gap:2rem;
  /* margin-left: 3rem; */
}

.AIintroContainer{
  
  margin-top: 6rem;
  
  
}

.AISectionHeader {
  font-weight: bolder;
  font-size: 2rem;
}

.AISectionDesc {
  font-weight: 400;
  font-size: 0.9rem;
  /* width: 50%; */
  line-height: 1.2rem;
}



@media(max-width:1023px){
  .home1{
  flex-direction: column;
  align-items: center;
  gap:4rem;
}
.searchSection{
  align-items: center;
}
/* .searchSectionDesc{
  width:100vw;
} */

}

.desc{
  font-weight: 400;
  font-size: 0.9rem;
 
  line-height: 1.2rem;
  
  width: 80%;
}

@media(max-width:800px) {
  .desc{
    width:100%;
  }
}





