.maindiv{
    display: flex;
    flex-direction: column;    
    padding:2rem;
    background-color: #F6F6F6;
    border:1px solid #E1E1E1;    
    border-radius: 10px;
    /* height:100% !important; */
    gap:1rem;    
    box-shadow: 0.1px 0.1px 0px 0.1px #808080;    
    /* margin: 0 10px; */
   
}

.imagediv{
    width:100%;
    /* height:200px; */
    aspect-ratio: 4/3;
}



.wishlist_btn{
    position: absolute;
    top:0.5rem;
    right:0.5rem;
    width:10%;
    cursor:pointer;
}

.imagediv{
    border-radius: 15px;    
    position: relative;
    width: 100%;
    align-self: center;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.5rem;
    /* margin-left: 1rem; */
    /* line-height: 1.5; */
}
.heading{
    font-size: 1.2rem;
    font-weight: 700;

}
.subheading{
    font-size: 0.9rem;
    font-weight: 550;
  
}

.details{
    display: flex;
    flex-direction: row;
    padding-block: 1rem;
    /* justify-content: space-between; */
    gap:0.5rem;
    flex-wrap: wrap;
    /* margin-left:1rem; */
    /* gap:0.5rem; */
}

.capsule{
    background-color: rgba(234, 234, 234, 1);
    border-radius: 15px;
    display: flex;
    /* justify-content: space-between; */
    gap:0.5rem;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;

    
}

.pricediv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap:3rem; */
    /* flex-wrap: wrap; */
    
    /* gap:4rem; */

    /* margin-left:1rem; */
}


/* @media(max-width:450px) {
    .details{
        flex-wrap:wrap;
    }
    .pricediv{
        gap:0rem;
    }
} */
/* @media(max-width:490px) {
    .details{
        flex-wrap:wrap;
    }
    .pricediv{
        gap:1rem;
    }
} */

.pricesection{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.propertyButton{
     
}