.search {
  width: 100%;

  padding: 1rem;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdowndiv{
  border:none;
  outline:none;
  color:rgb(68, 67, 67);

  font-size:1.05rem;
}

.dropdowndiv option{
  /* font-weight: bold; */
}


.inputBox {
  width: 65%;
  height: 3rem;
  padding-left:1rem;
  border-left:1px solid gray;
}

.btn{
  height:3rem
}


