
.megaDropdown {
    
    position: fixed;
    top: 2.5em;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: #f6f6f6;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transition: top 1s cubic-bezier(0.65, 0.05, 0.36, 1), opacity 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  
  .megaDropdown.show {
    visibility: visible;
    opacity: 1;
    top: 5em;
  }
  
  .megaCategory {
    margin-bottom: 15px;
  }
  
  .megaCategory h4 {
    margin-bottom: 8px;
  }
  
  .megaCategory ul {
    list-style: none;
    padding: 0;
  }
  
  .megaCategory li {
    cursor: pointer;
  }
  